.card-corpo {
    display:flex;
    justify-content:left;
    background-color: beige;
    display:flex;
}

.card-Titulo{
    display:flex;
    justify-content:left;
    align-items: flex-start;
    width: 100%;
    position: relative;
}

.modal {
    width: 90%;
    height: 500px;
    display: contents;
    position: absolute;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

.salve-button {
    position: relative;
    display: block;
    font-size: 14px;
    padding: 13px;
    background: #003366;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0.25rem;
}
.close-button {
    position: relative;
    display: block;
    font-size: 14px;
    padding: 13px;
    background: slategray;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0.25rem;
}
.modal-footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 1.875rem 0 0;
}

.fotos{
    margin-left: 10%;
}

.foto1{
    width: auto;
    height: 300px;
}