.cards{
    margin-top: 25px;
}
.cards h5{
    font-size: 30px;
    font-weight: bold;
    font-family: "UnBPro", sans-serif;
}

.card-1{
    background-color: #003366;
    color: #d0d0d0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border: none;
    font-family: "UnBPro", sans-serif;
    height: 100%;
}

.card-1 h6{
    margin-top: 7%;
}

.card-1 h5{
    margin-top: 8%;
}

.card-2{
    background-color:#104e7b;
    color: #d0d0d0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border: none;
    font-family: "UnBPro", sans-serif;
    max-height: 100%;
}

.card-3{
    background-color: #0068b4;
    color: #d0d0d0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border: none;
    font-family: "UnBPro", sans-serif;
    height: 100%;
}

.card-3 h6{
    margin-top: 7%;
}

.card-3 h5{
    margin-top: 8%;
}

.card-4{
    background-color: #00a6eb;
    color: #d0d0d0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border: none;
    font-family: "UnBPro", sans-serif;
    height: 100%;
}

.table-rank{
    align-items: flex-end;
    width: 100%;
    color: #5d5d5d;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-family: "UnBPro", sans-serif;
}

.table-rank th{
    background-color: #f3f3f9;
    color: #5d5d5d;
    font-family: "UnBPro", sans-serif;
}

.rank{
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border: none;
}

.rank h4{
    padding-top: 10px;
    align-items: center;
    margin: 0 8% 0 20%;
}

.card-header-tabs{
    float: right;
}

.card-header-tabs a{
    font-style: normal;
    color: #5d5d5d;
    font-family: "UnBPro", sans-serif;
}

.card-header-tabs a:hover {
    background-color: #0068b4;
    color: #FCFCFC;
    font-family: "UnBPro", sans-serif;
}

.titulo-relatorio{
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    color: #5d5d5d;
    background-color: rgba(0, 0, 0, 0);
    font-family: "UnBPro", sans-serif;
}

#title-header{
    float: left;
    height: 100%;
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    font-family: "UnBPro", sans-serif;
}

#graph{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.dadosH4{
    font-family: "UnBPro", sans-serif;
    color: #5d5d5d;
}

.visualizar{
    font-family: "UnBPro", sans-serif;
}