.table{
    font-family: 'Roboto', sans-serif;
    align-items: center;  
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 600px;
}
.table-cab{
    background-color: #0F4C75;
    color: #fff;
    border-radius: 10px;
}
th{
    background-color: #0F4C75;
    color: white;
}

tr:nth-child(even):hover{
    background-color: #5EB2F2;
    color: white;
}
tr:nth-child(odd):hover{
    background-color: #5EB2F2;
    color: white;
}

.modal {
    width: 500px;
    height: 400px;
    display: flex;
    position: absolute;
    margin: 100px 100px 200px;
    border-radius: 10px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

.salve-button {
    position: relative;
    display: block;
    font-size: 14px;
    padding: 10px;
    background: #0F4C75;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0.25rem;
}
.close-button {
    position: relative;
    display: block;
    font-size: 14px;
    padding: 10px;
    background: slategray;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0.25rem;
}
.modal-footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 1.875rem 0 0;
}