.table{
    display: inline-block;
    position: relative;
    font-family: 'Roboto', sans-serif;
    align-items: center;  
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    margin: 10px 10px 10px;
    padding: 20px 0 28px;
    width: 79%;
}
.table-cab{
    background-color: #0F4C75;
    color: #fff;
    border-radius: 10px;
}
th{
    background-color: #0F4C75;
    color: white;
}

tr:nth-child(even):hover{
    background-color: #5EB2F2;
    color: white;
}

tr:nth-child(odd):hover{
    background-color: #5EB2F2;
    color: white;
}

.table-cab .a{
    cursor: pointer;
}
.pagination {
    justify-content: center;
    position: relative;
}

.menu-txt{
    margin-top: 8px;
    margin-bottom: 10px;
}
.menu-txt-fim{
    margin-bottom: 15px;
    padding-bottom: 10px;
}