.button-anuncio {
    padding: 10px 25px;
    background-color: #003366;
    border: none;
    text-align: center;
    color: #FFF;
    font-weight: 300px;
    cursor: pointer;
    width: auto;
    height: 45px;
    border-radius: 6px;
    margin-bottom: 20px;
    font-family: "UnBPro", sans-serif;
}

.button-anuncio:hover {
    background-color: #0068b4;
    font-family: "UnBPro", sans-serif;
}

.menu-anuncio {
    float: left;
    padding: 10px 15px;
    border: none;
    background-color: #FFF;
    color:gray;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    left: 0;
    font-family: "UnBPro", sans-serif;
}
  
.Abas-contain {
    margin: 0;
    padding: 10px;
    color: #323232;
    cursor: pointer;
    text-align: center;
    font-size: 17px;
    font-family: "UnBPro", sans-serif;
}

.Abas-contain-active {
    border: 1px solid #0068b4;
}
.titulo-conteudo {
    font-size: 17px;
    padding: 10px 25px;
    background-color: #0068b4;
    border: none;
    color: #FFF;
    font-weight: 300px;
    cursor: pointer;
    display: inline-block;
    width: 120px;
    height: 45px;
    border-radius: 6px;
    font-family: "UnBPro", sans-serif;
}

.table{
    left: 300px;
    font-family: 'Roboto', sans-serif;
    align-items: center;  
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    font-family: "UnBPro", sans-serif;
}

.table-cab{
    background-color: #003366;
    color: #fff;
    border-radius: 10px;
    width: auto;
    align-items: center;  
    font-family: "UnBPro", sans-serif;
}

th{
    background-color: #003366;
    color: white;
    font-family: "UnBPro", sans-serif;
}

tr:nth-child(even):hover{
    background-color: #0068b4;
    color: white;
    font-family: "UnBPro", sans-serif;
}

tr:nth-child(odd):hover{
    background-color: #0068b4;
    color: white;
    font-family: "UnBPro", sans-serif;
}

.modal {
    width: 800px;
    height: 400px;
    display: flex;
    margin: 100px 100px 200px 500px;
    border-radius: 10px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    font-family: "UnBPro", sans-serif;
}

.salve-button {
    font-size: 14px;
    padding: 15px;
    background: #003366;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    font-family: "UnBPro", sans-serif;
}

.close-button {
    font-size: 14px;
    padding: 10px;
    background: slategray;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    font-family: "UnBPro", sans-serif;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 1.875rem 0 0;
    font-family: "UnBPro", sans-serif;
}

.table-cab .a{
    cursor: pointer;
}
.pagination {
    list-style: none;
    border-radius: .25rem;
    justify-content: center;
    margin-top: 10px;
    /* text-align: center; */
    display: flex;
    margin-left: 245%;
}

.menu-txt{
    margin-top: 8px;
    margin-bottom: 10px;
}

.menu-txt-fim{
    margin-bottom: 15px;
    padding-bottom: 10px;
    cursor: pointer;
    pointer-events: auto;

}
.label.txt{
    cursor: pointer;
    pointer-events: auto;
}