.button-anuncio {
    padding: 10px 25px;
    background-color: #0F4C75;
    border: none;
    text-align: center;
    color: #FFF;
    font-weight: 300px;
    cursor: pointer;
    width: auto;
    height: 45px;
    border-radius: 6px;
    margin-bottom: 20px;

}
.button-anuncio:hover {
    background-color: #70B4E6;
}
.menu-anuncio {
    float: left;
    padding: 10px 15px;
    border: none;
    background-color: #FFF;
    color:gray;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    left: 0;
}
  
.Abas-contain {
    margin: 0;
    padding: 10px;
    color: #323232;
    cursor: pointer;
    text-align: center;
    font-size: 17px;
}

.Abas-contain-active {
    border: 1px solid #5EB2F2;
}
.titulo-conteudo {
    font-size: 17px;
    padding: 10px 25px;
    background-color: #5EB2F2;
    border: none;
    color: #FFF;
    font-weight: 300px;
    cursor: pointer;
    display: inline-block;
    width: 120px;
    height: 45px;
    border-radius: 6px;
}
.table{
    left: 300px;
    font-family: 'Roboto', sans-serif;
    align-items: center;  
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.table-cab{
    background-color: #0F4C75;
    color: #fff;
    border-radius: 10px;
    width: auto;
    align-items: center;  

}
th{
    background-color: #0F4C75;
    color: white;
}

tr:nth-child(even):hover{
    background-color: #5EB2F2;
    color: white;
}
tr:nth-child(odd):hover{
    background-color: #5EB2F2;
    color: white;
}

.modal {
    width: 800px;
    height: 400px;
    display: flex;
    margin: 100px 100px 200px 500px;
    border-radius: 10px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
}
.salve-button {
    font-size: 14px;
    padding: 15px;
    background: #0F4C75;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0.25rem;
}
.close-button {
    font-size: 14px;
    padding: 10px;
    background: slategray;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0.25rem;
}
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 1.875rem 0 0;
}
.table-cab .a{
    cursor: pointer;
}
.pagination {
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    left: 40%;
}

.menu-txt{
    margin-top: 8px;
    margin-bottom: 10px;
}

.menu-txt-fim{
    margin-bottom: 15px;
    padding-bottom: 10px;
    cursor: pointer;
    pointer-events: auto;

}
.label.txt{
    cursor: pointer;
    pointer-events: auto;
}